*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    margin: auto;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-image: url("../img/bg.jpg");
}

.home{
    color: black;
    margin-top: 15%;
    margin-left: 8%;
}
.home h1{
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: -10px;
    padding-left: 0;
    color: #fff;
}
.home p{
    color: #fff;
    max-width: 400px;
}
